.pagination{
	width: 90%;
	text-align:center
}
.pagination>a{
	border:1px solid #39414a;
	padding:10px;
	margin-left:30%;
	color:#39414a;
	white-space:nowrap;
	border-radius:3px;
	text-decoration:none
}
.pagination>a:hover{
	border-color:#666;color:#fff;background:#4A4849
}
.pagination>a.older-posts{
	right:10px
}
.pagination>a.newer-posts{
	left:10px
}
.pagination .page-number{
	margin-left:30%;
	color:#39414a;
	text-align:center
}

@media only screen and (max-width:767px){
	.pagination{ 
		width: 100%;
		left: 0
	}
	.pagination .page-number{
	margin-left:5%;
	color:#39414a;
	text-align:center
	}
	
	.pagination>a.older-posts{margin-right:5%}
	.pagination>a.newer-posts{left:0}
	.pagination>a{padding:10px 5px;}
}