<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.tmlh.forum.core.mapper.ArticleMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		acl.id as id, 
		acl.user as user, 
		acl.catalog as catalog,
		acl.title as title,
		acl.keywords as keywords,
		acl.description as description, 
		acl.content as content, 
		acl.click_num as click_num, 
		acl.create_time as create_time, 
		acl.update_time as update_time
	</sql>


	    <!-- 通用查询映射结果 -->
    <resultMap id="articleMap" type="xyz.tmlh.forum.core.model.ArticleModel">
        <id column="id" property="id" />
        
        <result column="title" property="title" />
        <result column="keywords" property="keywords" />
        <result column="description" property="description" />
        <result column="content" property="content" />
        <result column="click_num" property="clickNum" />
        <result column="publish_type" property="publishType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <association  column="user" property="user">
        	<id column="user" property="id"/>
        	<result column="username" property="username"/>
        	<result column="email" property="email"/>
        	<result column="source" property="source"/>
        	<result column="image_url" property="imageUrl"/>
        </association>
        <association  column="catalog" property="catalog">
        	<id column="catalog" property="id"/>
        	<result column="catalog_name" property="name"/>
        </association>
    </resultMap>


	<select id="selectUserPage" resultMap="articleMap">
		SELECT
			<include refid="Base_Column_List"></include> ,u.image_url ,u.source,u.username,u.email,
			 c.id as catalog_id , c.name as catalog_name
		FROM
			tbl_article acl
		LEFT JOIN tbl_catalog c ON  catalog = c.id
		LEFT JOIN tbl_user u ON acl.`user` = u.`id` 
		${ew.customSqlSegment}
	</select>




</mapper>
