<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.tmlh.forum.core.mapper.SocialMapper">
	
	<resultMap type="xyz.tmlh.forum.core.model.data.SocialDo" id="socialDoMap">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="follow" property="follow"/>
		<result column="create_time" property="createTime"/>
		<result column="image_url" property="imageUrl"/>
		<result column="username" property="username"/>
	</resultMap>
	
	
	<select id="selectFollowList" resultMap="socialDoMap">
		SELECT 
			s.id,s.user_id,s.follow,s.create_time,u.image_url,u.username
		FROM tbl_social s
		LEFT JOIN tbl_user u ON u.id = s.follow
		WHERE user_id = #{userId} 
		ORDER BY s.create_time DESC
	</select>
	
	<select id="selectFansList" resultMap="socialDoMap">
		SELECT 
			s.id,s.user_id,s.follow,s.create_time,u.image_url,u.username
		FROM tbl_social s
		RIGHT JOIN tbl_user u ON u.id = s.user_id 
		WHERE follow = #{userId}
		ORDER BY s.create_time DESC
	</select>
	

</mapper>
