<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.tmlh.core.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userMap" type="xyz.tmlh.core.model.UserModel">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="email" property="email" />
        <result column="image_url" property="imageUrl" />
        <result column="create_time" property="createTime" />
        <result column="last_login" property="lastLogin" />
        <result column="state" property="state" />
        <result column="source" property="source" />
        <result column="detail" property="detail" />
        <result column="signature" property=" signature" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, username, email, image_url, create_time, last_login, state, source, detail,  signature
    </sql>

</mapper>
