<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.tmlh.core.mapper.UserconnectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.tmlh.core.model.UserconnectionModel">
        <id column="userId" property="userId" />
        <result column="providerId" property="providerId" />
        <result column="providerUserId" property="providerUserId" />
        <result column="rank" property="rank" />
        <result column="displayName" property="displayName" />
        <result column="profileUrl" property="profileUrl" />
        <result column="imageUrl" property="imageUrl" />
        <result column="accessToken" property="accessToken" />
        <result column="secret" property="secret" />
        <result column="refreshToken" property="refreshToken" />
        <result column="expireTime" property="expireTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userId, providerId, providerUserId, rank, displayName, profileUrl, imageUrl, accessToken, secret, refreshToken, expireTime
    </sql>

</mapper>
