<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/head::head(~{::title},~{::link},~{})">
<title th:text="${article.title}"></title>
<link rel="stylesheet" href="/asserts/css/article-content.css" />
</head>


<body>
	<nav th:replace="commons/bar::topbar(active='default')"></nav>

	<div class="container">
		<div class="row clearfix">

			<div class="col-md-9 column">

				<div class="list-group">
					<div class="list-group-item active">
						<p>
							<span th:text="${article.title}">标题</span>
						</p>
					</div>
					<div class="list-group-item">

						<div class="card-body  padding-top  padding-bottom">
							<b class="d-inline-block pull-left">
								<span class="glyphicon glyphicon-time color-bff" aria-hidden="true"></span>
								&nbsp;<span th:text="${#dates.format(article.createTime, 'yyyy-MM-dd hh:mm:ss')}"></span></b> 
								
							<b class="d-inline-block   magin-left-20">
								<span class="glyphicon glyphicon-user color-bff" aria-hidden="true"></span>&nbsp;
								<span th:text="${article.clickNum}"></span>
							</b>
								
							<!-- <b class="d-inline-block ml-3 magin-left-20">
								<span class="glyphicon glyphicon-envelope color-bff" aria-hidden="true"></span>
								&nbsp;<span th:text="${article.clickNum}"></span></b> 
							<b class="d-inline-block ml-3 magin-left-20">
								<span class="glyphicon glyphicon-heart color-bff" aria-hidden="true"></span>
								&nbsp;<span th:text="${article.clickNum}"></span></b>
							<button class="btn  btn-danger btn-sm pull-right">添加至喜欢</button> -->
						</div>


					</div>

					<div class="list-group-item  hover py-4 pad">
						<div id="article-content" th:utext="${article.content}">
						
						</div>
					</div>

				</div>

				<div class="list-group" id= "comBox">
					<div class="list-group-item">
					<!-- 	<span class="glyphicon glyphicon-comment color-bff" aria-hidden="true"></span> -->
						<i class="fa fa-comments-o  color-bff" aria-hidden="true">&nbsp; 评论</i> 
					</div>
					
					<div class="list-group-item"  th:each="comment ,stat :${commentList}">
						<div class="row">
							<div class="magin-left-20  pull-left" style="min-width: 50px;min-height: 50px">
								<a th:href="|/user/${comment.userId}|"><img  class="img-circle img-size-50 "  alt="" src="/images/default.jpg" th:src="${comment.userImageUrl}"/></a>
							</div>
							<div class=" pull-left magin-left-10">
								<p><a th:href="|/user/${comment.userId}|"  class="color-black"><strong th:text="${comment.username}">XXXXX</strong></a></p>
								<p th:utext="${comment.content}"></p>
							</div>
						</div>
						<div class="row">
							<p class="pull-right" >
								<span  class=" color-hui magin-right-25 pointer hover-red" style="font-size: 13px" th:onclick="|removeComment(${comment.id} , this.parentNode)|">
									<i class="fa fa-trash-o" aria-hidden="true"> 删除</i>
								</span>
								<span  class=" color-hui magin-right-25 pointer hover-blue" style="font-size: 13px" th:onclick="|addCommentChild(${article.id},${comment.id} , this)|">
									<i class="fa fa-comment-o" aria-hidden="true"> 回复</i>
								</span>
							</p>
						</div>
						<!-- 子回复-->
						<div class="row" th:each="child : ${comment.commentChildList}">
							<div class="magin-left-50 border-top">
								<div class="magin-left-20  pull-left  magin-top-20" style="min-width: 40px;min-height: 40px">
									<a th:href="|/user/${child.userId}|"><img  class="img-circle img-size-50 "  alt="" src="/images/default.jpg" th:src="${child.userImageUrl}"/></a>
								</div>
								<div class=" pull-left magin-left-10 magin-top-20">
									<p><a th:href="|/user/${child.userId}|"  class="color-black"><strong th:text="${child.username}">XXXXX</strong></a></p>
									<p th:utext="${child.content}"></p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div  id="editorBox" class="list-group-item">
					<div>
						<div id="comment-toolbar" class="toolbar pull-left" style="width: 90%">
						</div>
				    </div>
				    <p ><button id="comment-save" class="btn btn-default btn-sm"  th:onclick="|saveComment(${article.id},'-1')|">提交评论</button> </p>
				    <div id="comment-text" class="text"> <!--可使用 min-height 实现编辑区域自动增加高度-->
				    </div>
				</div>

			</div>

			<div class="col-md-3 column">
				<!-- 作者信息 -->
				<div class="panel  panel-primary">
					<div class="panel-heading">
						<h4 class="magin-top-40" th:text="${article.username}">姓名</h4>
						<a href="/common/user/8152"> <img class="img-circle" th:src="${article.imageUrl}"
							style="position: absolute; width: 70px; height: 70px; right: 20px; top: 30px" />
						</a>
					</div>
					<div class="row magin-top-40">
						<div class="col-md-10 column col-md-offset-1">
							<div class="col-md-4">
								<div class="card-body">
									<p class="text-center">
										<strong>文章</strong>
									</p>
									<p class="text-center" th:text="${articleCount}">0</p>
								</div>
							</div>
							<div class="col-md-4 column">
								<div class="card-body">
									<p class="text-center">
										<strong>问答</strong>
									</p>
									<p class="text-center" th:text="${questionCount}">0</p>
								</div>
							</div>
							<div class="col-md-4 column">
								<div class="card-body">
									<p class="text-center">
										<strong>粉丝</strong>
									</p>
									<p class="text-center">0</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row magin-top padding-bottom">
						<div class="col-md-10 column col-md-offset-1">
							<div class="col-md-12 column" id="relation">
								<button id="folwer" class="btn  btn-success sty btn-primary btn-block" th:unless="${isFollow}">+关注</button>
								<button id="unfolwer" class="btn  btn-success sty btn-primary btn-block" th:if="${isFollow}">取消关注</button>	
									
							</div>
						</div>
					</div>


				</div>
				<!-- 作者文章 -->
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <i class="fa fa-address-book" aria-hidden="true" style="color: #218838;">&nbsp;作者文章 </i>
				  </div>
				  <div class="panel-body">
				  	<p  th:each="art,stat : ${articleList}" style="margin-top: 2px">
				  		<a th:href="${art.id}" th:text="${art.title}" style="color: black;"></a>
				  	</p>
				  </div>
				</div>
				

			</div>





		</div>
	</div>

	<div th:replace="commons/footer::footer"></div>

</body>
<script src="/webjars/wangEditor/3.1.1/release/wangEditor.min.js"></script>
<script src="/webjars/sweetalert/2.1.0/sweetalert.min.js"></script>
<script th:inline="javascript">
	var id = [[${article.userId}]];
</script>
<script type="text/javascript">

	$("#relation").on("click"," #folwer",function(){
		folwer();
	}); 
	$("#relation").on("click"," #unfolwer",function(){
		unfolwer();
	}); 
    var E = window.wangEditor
    var editor1 = new E('#comment-toolbar', '#comment-text')  // 两个参数也可以传入 elem 对象，class 选择器
 	// 自定义菜单配置
    editor1.customConfig.menus = [
        'head',
        'bold',
        'italic',
        'underline',
        'emoticon',  // 表情
        'image',
        'code'
    ]
    editor1.create();
    
    function saveComment(articleId , comId , text , obj) {
    	var content = editor1.txt.html();
    	var commentId ;
    	if(comId > 0){
    		commentId = comId;
    	}
    	if(!isEmpty(text)){
    		content = text;
    	}
    	
    	var icontent = editor1.txt.text();
    	if(icontent.length == 0 || icontent.trim() == ''){
    		dangerNotify('请输入内容!');
    		return;
    	}
    	if(content.length > 500 ){
    		dangerNotify('评论过长');
    		return;
    	}
    	$.ajax({
    		  method: "POST",
    		  url: '/user/comment/publish',
    		  data: {
    			  articleId : articleId,
    			  content : content , 
    			  commentId : commentId
    		  },
    		  success: function(data){
    			  if(data.code == 0){
   				  	successNotify("评论成功!");
	   				 if(comId > 0){
	   					showChild(data.result.comment , obj);
	   				 }else{
	   				 	show(data.result.comment);
	   				 }
   				 	
   				 	editor1.txt.clear()
    			  }else{
    			  	dangerNotify('<strong>上传失败:</strong> ' + data.message);
    			  }
    		  },
    		  error :function(data){
    			  warningNotify(data.responseJSON.message , '/login');
    		  }
    		});
    }
    function show(comment){
    	var content = '';
    	content +=' <div class="list-group-item"> ';
		content +=' 	<div class="row"> ';
		content +=' 		<div class="magin-left-20  pull-left" style="min-width: 50px;min-height: 50px"> ';
		content +=' 			<a href="/user/'+comment.userId +'"><img  class="img-circle img-size-50 "  alt="" src="'+comment.userImageUrl +'" /></a> ';
		content +=' 		</div> ';
		content +=' 		<div class=" pull-left magin-left-10"> ';
		content +=' 			<p><a href="#"  class="color-black"><strong>'+comment.username +'</strong></a></p> ';
		content +=' 			<p><span>'+comment.content +'</span></p> ';
		content +=' 		</div> ';
		content +=' 	</div> ';
		content +=' 	<div class="row"> ';
		content +=' 		<p class="pull-right" > ';
		content +='				<span  class=" color-hui magin-right-25 pointer hover-red" style="font-size: 13px" th:onclick="removeComment('+comment.id +' , this.parentNode)">';
		content +='							<i class="fa fa-trash-o" aria-hidden="true"> 删除</i>';
		content +='				</span>';
		content +=' 			<span class=" color-hui magin-right-25  pointer hover-blue" style="font-size: 13px"  th:onclick="addCommentChild('+id+','+comment.id +')"> ';
		content +=' 				<i class="fa fa-comment-o" aria-hidden="true"> 回复</i> ';
		content +=' 			</span> ';
		content +=' 		</p> ';
		content +=' 	</div> ';
		content +=' </div> ';
    	$('#comBox').append(content);
    }
    

    
    function showChild(comment , obj){
    	var content = '';
    	
    	content += '<div class="row">';
    	content += '<div class="magin-left-50 border-top"> ';
    	content += '	<div class="magin-left-20  pull-left  magin-top-20" style="min-width: 40px;min-height: 40px">';
	    content += '			<a href="/user/'+ comment.userId+'"><img  class="img-circle img-size-50 "  alt="" src="'+comment.userImageUrl+'"/></a>';
	    content += '		</div>';
	    content += '		<div class=" pull-left magin-left-10 magin-top-20">';
	    content += '			<p><a href="/user/'+ comment.userId+'"  class="color-black"><strong">'+comment.username+'</strong></a></p>';
	    content += '			<p>'+comment.content+'</p>';
	    content += '		</div>';
	    content += '	</div>';
	    content += '</div>';
	    content += '</div>';
	    $(obj.parentNode.parentNode.parentNode).append(content);
    }
    
    
	function folwer(){
		$.ajax({
  		  method: "POST",
  		  url: '/user/social/' + id,
  		  success: function(data){
  			  if(data.code == '0'){
  				infoNotify(data.message);
  				$('#relation').html('<button id="unfolwer" class="btn  btn-success sty  btn-primary btn-block">取消关注</button>');
  			  }else{
  				dangerNotify(data.message);
  			  }
  		  },error:function(data){
  			dangerNotify(data.responseJSON.message );
  		  }
  		});
	}
	function unfolwer(){
		$.ajax({
  		  method: "DELETE",
  		  url: '/user/social/' + id,
  		  success: function(data){
  			  if(data.code == '0'){
  				infoNotify(data.message);
  				$('#relation').html('<button id="folwer" class="btn  btn-success sty  btn-primary btn-block">+关注</button>');
  			  }else{
  				dangerNotify(data.message);
  			  }
  		  }
  		});
	}
	
	
	
	function addCommentChild(artId ,commentId ,obj){
		swal({ 
			  title: "回复", 
			  buttons: [true, "OK"],
			  content: {
				    element: "input",
				    attributes: {
				      placeholder: "请输入你的回复:",
				      type: "text",
				    },
				  },
			}).then((will ) => {
				  if (will ) {saveComment(artId ,commentId , will , obj);}  
			});
	}
	
	function removeComment(cid , obj){
		swal({
			  title: "是否删除",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((willDelete) => {
			  if (willDelete) {
				  $.ajax({
					  method: "DELETE",
					  url: '/user/comment/'+cid,
					  success: function(data){
						  if(data.code == 0){
							  infoNotify(data.message);
							  obj.parentNode.parentNode.remove();
						  }else{
							  dangerNotify('<strong>删除失败:</strong> ' + data.message);
						  }
					  },
					  error :function(data){
						  dangerNotify(data.responseJSON.message);
					  }
					});
			  } 
			});
		
	}
</script>
</html>















