<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head::head(title ='首页')"></head>

<body>
	<nav th:replace="commons/bar::topbar(active='default')"></nav>

	<div class="container">

		<div class="row clearfix">
			<div class="col-md-12 column">


				<div id="carousel-example-generic" class="carousel slide"
					data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0"
							class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="/images/default.jpg" alt="..."/>
							<div class="carousel-caption">...</div>
						</div>
						<div class="item">
							<img src="/images/default.jpg" alt="..."/>
							<div class="carousel-caption">...</div>
						</div>
						<div class="item">
							<img src="/images/default.jpg" alt="..."/>
							<div class="carousel-caption">...</div>
						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic"
						role="button" data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a> <a class="right carousel-control" href="#carousel-example-generic"
						role="button" data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>



			</div>
		</div>


		<div class="row clearfix" style="margin-top: 25px">
			<div class="col-md-9 column">

				<div class="list-group">
					<div class="list-group-item">
						<span class="glyphicon glyphicon-th-list" aria-hidden="true" style="font-size: 17px">&nbsp;社区动态</span>
					</div>
					
					<div class="list-group-item  hover py-4 pad">
						
						<a href="/common/user/8547"> <img
							src="https://avatars2.githubusercontent.com/u/18159158?v=4"
							class="img-thumbnail rounded float-left mr-2 border border-warning mw-100"
							style="width: 50px; height: 50px;" />
						</a>
						 <a href="/article/6844" target="_blank"
							class="text-dark font-weight-bold text-truncate"> 
							&nbsp;译：SpringBoot中使用Hibernate  
						</a>
							
						<div class="card-text text-dark magin-top">
							<a href="/category/2" class="text-white badge font-weight-normal">Spring
								Boot</a> <span class="font-weight-light text-secondary ">&nbsp;&nbsp;&nbsp;阅读
								9 </span> · <span class="font-weight-light text-secondary ">评论
								0 </span> · <span class="font-weight-light text-secondary ">喜欢
								0 </span> · <span class="font-weight-light text-secondary ">1小时前</span>
						</div>
					</div>
					
				</div>



				<button type="button" class="btn btn-default btn-primary btn-block">点击载入更多</button>
			</div>

			<div class="col-md-3 column">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">推荐作者</h2>
					</div>
					<div class="panel-footer">
						<div class="card-body text-center">
							<a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a> <a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a> <a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a> <a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a> <a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a> <a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a> <a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a> <a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a> <a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a> <a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a> <a href="/common/user/10"> <img
								src="https://avatars0.githubusercontent.com/u/2015545?v=4"
								class="rounded-circle float-left mr-2 mb-2 border border-warning mw-100"
								width="45px" height="45px" />
							</a>
						</div>

					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">热门标签</h2>
					</div>
					<div class="panel-body">
						<a href="#" class="label label-default tag">标签</a> <a href="#"
							class="text-white badge badge-secondary py-1 px-2 mt-2 mr-2 font-weight-normal">标签标签</a>
						<a href="#"
							class="text-white badge badge-secondary py-1 px-2 mt-2 mr-2 font-weight-normal">标签标签</a>
						<a href="#"
							class="text-white badge badge-secondary py-1 px-2 mt-2 mr-2 font-weight-normal">标签标签</a>
						<a href="#"
							class="text-white badge badge-secondary py-1 px-2 mt-2 mr-2 font-weight-normal">标签标签</a>
						<a href="#"
							class="text-white badge badge-secondary py-1 px-2 mt-2 mr-2 font-weight-normal">标签标签</a>
					</div>
				</div>

			</div>
		</div>

	</div>





	<div th:replace="commons/footer::footer"></div>


</body>
</html>















