<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.tmlh.core.mapper.ArticleMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, user_id, catalog_id, title, keywords, description, content, click_num, create_time, update_time
	</sql>


	    <!-- 通用查询映射结果 -->
    <resultMap id="userMap" type="xyz.tmlh.core.model.ArticleModel">
        <id column="id" property="id" />
        <result column="user_id" property="user"  select="xyz.tmlh.core.mapper.UserMapper.selectById"/>
    </resultMap>


	<select id="selectPageByCondition" resultMap="userMap">
		SELECT
			<include refid="Base_Column_List"></include>
		FROM
			tbl_article acl
		LEFT JOIN tbl_user u ON 
			acl.`user_id` = u.`id` ${ew.customSqlSegment}
	</select>




</mapper>
