<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside class="main-sidebar"  th:fragment="menu(active)">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
      
      	<li th:class="${active eq 'dashboard'? 'active treeview':'treeview'}">
          <a href="/admin/main">
            <i class="fa fa-dashboard"></i> <span>仪表盘</span>
          </a>
        </li>
      	
      	
        <li th:class="${active eq 'user'? 'active treeview':'treeview'}">
          <a href="/admin/user">
            <i class="fa  fa-user-o"></i> <span>用户管理</span>
          </a>
        </li>
        <li th:class="${active eq 'article'? 'active treeview':'treeview'}">
          <a href="/admin/article">
            <i class="fa fa-book"></i> <span>文章管理</span>
          </a>
        </li>
        <li th:class="${active eq 'comment'? 'active treeview':'treeview'}">
          <a href="/admin/comment">
            <i class="fa fa-commenting-o"></i> <span>评论管理</span>
          </a>
        </li>
        <li th:class="${active eq 'log'? 'active treeview':'treeview'}">
          <a href="/admin/syslog">
            <i class="fa fa-eye"></i> <span>日志管理</span>
          </a>
        </li>
        <li th:class="${active eq 'system'? 'active treeview':'treeview'}">
          <a href="#">
            <i class="fa fa-cog"></i> <span>系统管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: block;">
            <li><a href="/admin/druid"><i class="fa fa-database"></i> 数据源监控</a></li>
            <li><a href="/admin/swagger"><i class="fa fa-circle-o"></i> 接口测试</a></li>
          </ul>
          
        </li>
        
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

</html>