.img-left{
	width: 70xp;
	height: 70px;
}
.tag{
	padding: 0.5rem !important;
	 line-height:120%;
}

.list-group .pad{
	
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.font-weight-bold{
	font-size : 20px;
	font-style: inherit;	
	color: black;
}

.color-title{
 	background-color: #34a40; 
}
.color-bff{
 	color:#007bff;
}

.img-size-50{
	width: 50px; 
	height: 50px;
}

.magin-top{
	margin-top: 10px;
}
.magin-left-20{
	margin-left: 20px;
}
.padding-top{
	padding-top: 10px;
}
.padding-bottom{
	padding-bottom: 10px;
}
.magin-top-40{
	margin-top: 40px;
}
.pointer{
	cursor:pointer;
}


