.img-left{
	width: 70xp;
	height: 70px;
}
.tag{
	padding: 0.5rem !important;
	 line-height:120%;
}

.list-group .pad{
	
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.font-weight-bold{
	font-size : 20px;
	font-style: inherit;	
	color: black;
}
.magin-top{
	margin-top: 10px;
}