<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head::head(~{::title},~{::style},~{})">
<title>404</title>
<style type="text/css">
.display-2 {
	font-weight: 300;
	line-height: 1.2;
	font-size: 6rem;
}

.d-block {
	display: block !important;
	margin-top: 100px;
}
</style>
</head>

<body>
	<nav th:replace="commons/bar::topbar(active='default')"></nav>

	<div class="container">

		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<span class="display-2 d-block">500</span>
				<div class="mb-4">服务器错误</div>
			</div>
		</div>
	</div>

</body>
</html>















