<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div class="container" th:fragment="footer">
	<div class="navbar">
		<footer class="footer">
			<div class="container-fluid"
				style="width: auto; max-width: 680px; padding: 0 15px;">
				<p class="text-muted" style="margin: 20px 0;">
					<span>Copyright <i class="fa fa-copyright"></i> 2019 <a
						href="#">TMLH-IMG</a> All Rights Reserved
					</span>
				</p>
			</div>
		</footer>
	</div>
</div>

</html>