<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head::head(title='授权登陆')">
</head>

<body>
	<nav th:replace="commons/bar::topbar(active='default')"></nav>

	<div class="container">
		<div class="row clearfix" style="margin-top: 25px">
			<div class="text-center">

				<h3 class="row">授权登录</h3>
				<div class="ui horizontal"
					style="font-size: 14px; color: #7d7d7d; border-bottom: 1px solid #7d7d7d; margin-bottom: 20px; padding-bottom: 20px">
					一步之遥，成为社区里的你</div>

				<div class="mt-4 border-top border-secondary pt-4 px-4">
					<a href="/auth/qq" style="text-decoration-line: none"> <img
						src="http://springforall.ufile.ucloud.com.cn/images/icon/qq.svg"
						alt="" style="max-width: 64px; max-height: 64px"/>
					</a> 
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#" class="ml-4"> <img
						src="http://springforall.ufile.ucloud.com.cn/images/icon/github.svg"
						alt="" style="max-width: 64px; max-height: 64px"/>
					</a>
				</div>

				<h4 class="row" style="font-size: 16px; color: #7d7d7d; padding-top: 30px">
					关注社区公号，加入社区纯技术微信群</h4>
				<div class="mt-4 border-secondary pt-4 px-4"
					style="text-align: center">
					<a href="#" style="text-decoration-line: none"> <img
						src="http://springforall.ufile.ucloud.com.cn/images/wxcode.jpg"
						alt="" style="max-width: 200px; max-height: 200px"/>
					</a>

				</div>

			</div>



		</div>
	</div>
</body>
</html>

