<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head::head(title = ${session.loginUser.username})">
</head>

<body>
	<nav th:replace="commons/bar::topbar(active='default')"></nav>

	<div class="container">

		<div class="row clearfix" style="margin-top: 25px">
			<div class="col-md-2 column">
				<!-- 选项卡菜单-->
				<ul id="myTab" class="nav nav-pills nav-stacked" role="tablist">
				    <li class="active">
				    	<a href="#bulletin" role="tab" data-toggle="pill"> 个人信息    </a>
				     </li>
				    <li><a href="#rule" role="tab" data-toggle="pill">我的文章</a></li>
				    <li><a href="#forum" role="tab" data-toggle="pill">我的提问</a></li>
				    <li><a href="#security" role="tab" data-toggle="pill">喜欢的内容</a></li>
				    <li><a href="#welfare" role="tab" data-toggle="pill">消息通知</a></li>
				</ul>
			</div>

			<div class="col-md-10 column">
					
				<!-- 选项卡面板 -->
				<div id="myTabContent" class="tab-content">
				    <div class="tab-pane fade in active" id="bulletin">
				    	<!-- 作者信息 -->
						<div class="panel  panel-primary">
							<div class="panel-heading">
								<h4 class="magin-top-40" th:text="${session.loginUser.username}">姓名</h4>
								<a th:href="|/user/${session.loginUser.id}|"> <img class="img-circle" th:src="${session.loginUser.imageUrl}"
									style="position: absolute; width: 70px; height: 70px; right: 20px; top: 30px;margin-right: 20px" />
								</a>
							</div>
							<div class="row magin-top-30">
								 <div class="col-md-6">
								 	<ul class="list-group">
									  <li class="list-group-item font-weight-bold-18"  style="border: none;">
									  	<i class="fa fa-exclamation-circle" aria-hidden="true">&nbsp; 信息</i>
									  	<span class="color-hui-2 font-size-13 magin-left-20" th:text="${session.loginUser.detail}">1998 河南</span>
									  </li>
									  <li class="list-group-item font-weight-bold-18"  style="border: none;">
									  	<i class="fa fa-envelope" aria-hidden="true">&nbsp; 邮箱</i>
									  	<span id="email-span" class="color-hui-2 font-size-13 magin-left-20" th:text="${session.loginUser.email}">111@qq.com</span>
									  </li>
									  <li class="list-group-item font-weight-bold-18"  style="border: none;">
									  	<i class="fa fa-pencil" aria-hidden="true">&nbsp; 签名</i>
									  	<span  id="signature-span" class="color-hui-2 font-size-13 magin-left-20" th:text="${session.loginUser.signature}">这个家伙很懒，什么都没留下...</span>
									  </li>
									  <li class="list-group-item font-weight-bold-18"  style="border: none;">
									  	<i class="fa fa-paw" aria-hidden="true">&nbsp; 来源</i>
									  	<span class="color-hui-2 font-size-13 magin-left-20" th:text="|${session.loginUser.source}用户|">qq</span>
									  </li>
									</ul>
								 </div>
								 <div class="col-md-6">
								 	
								 	<div class="col-md-4">
										<div class="card-body">
											<p class="text-center">
												<strong>文章</strong>
											</p>
											<p class="text-center">1</p>
										</div>
									</div>
									<div class="col-md-4 column">
										<div class="card-body">
											<p class="text-center">
												<strong>问答</strong>
											</p>
											<p class="text-center">0</p>
										</div>
									</div>
									<div class="col-md-4 column">
										<div class="card-body">
											<p class="text-center">
												<strong>粉丝</strong>
											</p>
											<p class="text-center">0</p>
										</div>
									</div>
								 	
								 	
								 </div>
								 
							</div>
							
							<div class="row magin-top-10 padding-bottom-50">
								 <div class="col-md-6">
								 	<div style="border-bottom: 1px solid #28a745;">
									    <span class="magin-left-30">我的关注</span> 
									    <span class="magin-left-20">0</span> 
								 	</div>
								 </div>
								 <div class="col-md-6">
								 <div style="border-bottom: 1px solid #28a745;">
								   <span  class="magin-left-30">我的粉丝</span> 
								   <span  class="magin-left-20">0</span> 
								   </div>
								 </div>
							</div>
							<div class="row magin-top-10 padding-bottom-20">
								 <div class="col-md-6">
								 	<button class="btn btn-default btn-sm pull-right sty"  data-toggle="modal" data-target="#myModal">编辑资料</button>
								 </div>
								 <div class="col-md-6">
								 <div>
								  	<button class="btn btn-default btn-sm sty" onclick="javascript:window.location.href='/logout'">退出登陆</button>
								  </div>
								 </div>
							</div>
							
						</div>
				    	
				    </div>
				    <div class="tab-pane fade" id="rule">敬请期待！</div>
				    <div class="tab-pane fade" id="forum">敬请期待！</div>
				    <div class="tab-pane fade" id="security">敬请期待！</div>
				    <div class="tab-pane fade" id="welfare">敬请期待！</div>
				</div>
				 
			</div>



		</div>
	</div>
	
	
	
	
	
<!--modal  -->	
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑资料</h4>
      </div>
      <div class="modal-body">
        
        	  <div class="form-group">
			    <label for="exampleInputEmail1">邮箱</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
			  </div>
        	  <div class="form-group">
			    <label for="exampleInputEmail1">个性签名</label>
			    <textarea class="form-control" id="signature" rows="3" placeholder="这个家伙很懒，什么都没留下..."></textarea>
			  </div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="update()">确认</button>
      </div>
    </div>
  </div>
</div>

</body>
<script type="text/javascript">


function update(){
	var email = $('#exampleInputEmail1').val();
	var signature = $('#signature').val();
	$.ajax({
		  method: "PUT",
		  url: '/user/update',
		  data: {
			  signature : signature,
			  email : email
		  },
		  success: function(data){
			  if(data.code == 0){
				  	successNotify("修改成功!!!");
				  	$('#myModal').modal('hide');	
				  	$('#email-span').text(email);
				  	$('#signature-span').text(signature);
			  }else{
			  	dangerNotify('<strong>上传失败:</strong> ' + data.message);
			  }
		  },
		  error :function(data){
			  warningNotify(data.responseJSON.message , '/login');
		  }
		});
}



</script>
</html>

