<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head::head(title = '${session.loginUser.username}')">
</head>

<body>
	<nav th:replace="commons/bar::topbar(active='default')"></nav>

	<div class="container">

		<div class="row clearfix" style="margin-top: 25px">
			<div class="col-md-2 column">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							个人信息
						</h3>
					</div>
					<div class="panel-body">
						我的文章
					</div>
					<div class="panel-body">
						我的提问
					</div>
					<div class="panel-body">
						喜欢的内容
					</div>
					<div class="panel-body">
						消息通知
					</div>
				</div>

				 
			</div>

			<div class="col-md-10 column">
					
					
				 
			</div>



		</div>
	</div>
</body>
</html>

