<section class="content-header">
	<h1>
		Dashboard <small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
</section>
<script type="text/javascript">
	window.onload =
		function() {
			var linkList = window.parent.document.getElementsByTagName("link"); //获取父窗口link标签对象列表
			var head = document.getElementsByTagName("head").item(0);
			//外联样式
			for(var i = 0; i < linkList.length; i++) {
				var l = document.createElement("link");
				l.rel = 'stylesheet'
				l.type = 'text/css';
				l.href = linkList[i].href;
				head.appendChild(l);
			}
		}
</script>
